<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Email </label>
            <input type="email" name="email" disabled="disabled" ng-model="user.email">
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text" name="name" ng-model="user.profile.name">
          </div>

          <div class="field">
            <label>Time Zone</label>
            <select name="timezone" ng-model="user.profile.timezone">
              <option value="">Time Zone</option>
              <option value="EDT">Eastern (ESDT)</option>
              <option value="CDT">Central (CDT)</option>
              <option value="MDT">Mountain (MDT)</option>
              <option value="PDT">Pacific (PDT)</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="field">
            <label>Highest Degree Completed (or in the process of completing)</label>
            <select name="degree" ng-model="user.profile.degree">
              <option value="High School">High School</option>
              <option value="Associate's Degree">Associate's Degree</option>
              <option value="Bachelor's Degree">Bachelor's Degree</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="field" ng-show="autoFilledSchool">
            <label> School </label>
            <input class="ui input" disabled="disabled" ng-show="autoFilledSchool" ng-model="user.profile.school">
          </div>

          <div class="field" ng-show="!autoFilledSchool">
            <label> School </label>
            <div id="school" class="ui search">
              <div class="ui input">
                <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">
              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="field">
            <label>Graduation Year</label>
            <select name="year" ng-model="user.profile.graduationYear">
              <option value="">Graduation Year</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="field">
            <label> Major </label>
            <input type="text" name="major" ng-model="user.profile.major">
          </div>

          <div class="field">
            <label>Gender (Optional)</label>
            <select name="gender" ng-model="user.profile.gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
              <option value="N">I prefer not to answer</option>
            </select>
          </div>

          <div class="field">
            <label>Race/Ethnicity (Optional)</label>
            <select name="race" ng-model="user.profile.race">
              <option value="">Race/Ethnicity</option>
              <option value="I">American Indian or Alaska Native</option>
              <option value="A">Asian</option>
              <option value="B">Black or African American</option>
              <option value="N">Native Hawaiian or Other Pacific Islander</option>
              <option value="W">White</option>
              <option value="O">Other</option>
              <option value="P">I prefer not to answer</option>
            </select>
          </div>

          <div class="divided title">Interests and Experience</div>

          <div class="field">
            <label>How many hackathons have you attended in the past?</label>
            <select name="experience" ng-model="user.profile.experience">
              <option value="">Number of Hackathons</option>
              <option value="F">This will be my first one!</option>
              <option value="B">2-3</option>
              <option value="I">3-4</option>
              <option value="A">5 or more</option>
            </select>
          </div>

          <div class="field">
            <label>Which of the following tracks would you be most interested in (this is not at all a binding
              choice!)</label>
            <select name="tracks" ng-model="user.profile.tracks">
              <option value="">Tracks</option>
              <option value="S">Social Issues</option>
              <option value="H">Healthcare</option>
              <option value="R">Remote Education and Work</option>
              <option value="E">Envisioning a More Technologically Connected Future</option>
            </select>
          </div>

          <div class="field">
            <label>
              Describe your background in computer science.
            </label>
            <textarea ng-model="user.profile.background">
          </textarea>
          </div>

          <div class="field">
            <label>I would describe myself as a...</label>
            <input type="text" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire, etc."
              ng-model="user.profile.description">
          </div>

          <div class="field">
            <label>
              What's something you've made that you're proud of?
            </label>
            <textarea ng-model="user.profile.proud">
          </textarea>
          </div>

          <div class="field">
            <label>
              Why do you want to participate in IvyHacks 2020?
            </label>
            <textarea ng-model="user.profile.whyivyhacks">
          </textarea>
          </div>

          <div class="field">
            <label>If you already have a team in mind, list your teammates' names here. If not, no worries! Leave this
              box blank, attended we'll match you with teammates based on the interests and experience level you
              described above.</label>
            <input type="text" placeholder="Team Names...." ng-model="user.profile.team">
          </div>

          <br>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit" class="fluid ui green button" ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>