/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

// $primary: rgb(100, 204, 109);
// $secondary: rgb(100, 204, 109);

$primary: rgb(81, 189, 90);
$secondary: rgb(81, 189, 90)
$tertiary: #DAE6C8;

/* LOGO COLORS
#A5DAA9
#DAE6C8
#ADD26F
#B4E9C9s
*/

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://s3.amazonaws.com/hackmit-assets/tintedphoto_1920_1080_low.jpg');